.main-wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 100px;
  padding-bottom: 10px;
}

.grid-wraper {
  background-color: var(--div-color);
  width: 50vh;
  height: 100%;
  margin: 60px 0 60px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

ul {
  padding: 0;
}

li {
  padding: 0;
  color: var(--text-color);
  text-align: center;
}

.random-meal-div {
  background-color: var(--div-color);
  display: flex;
  flex-direction: column;
  width: 850px;
  height: 100%;
  margin: 60px 20px 0 20px;
}

.meal-id {
  margin: 0 20px;
  display: flex;
  justify-content: flex-start;
}

.meal-name {
  color: var(--text-color);
  text-align: center;
  padding: 20px;
  font-weight: 900;
  font-size: 25px;
}

.meal-image {
  background-color: var(--divider-div-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  width: 600px;
  height: auto;
  padding: 5px;
}

.meal-ingredients {
  background-color: var(--div-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 30px 0;
}

.pag-div {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.edit-meal-div {
  background-color: var(--divider-div-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-button-div {
  margin: 20px;
}

.edit-form-div {
  padding-bottom: 50px;
}

label {
  text-align: center;
  color: var(--text-color);
}

.ingredients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.search-form-div {
  text-align: center;
  padding: 10px;
}

.add-new-meal-div {
  display: flex;
  justify-content: center;
  padding: 10px;
}
