<!-- <div  class="test">
  <p>{{ newMealInfo.mealName || null }}</p>
</div> -->

<div class="main-wraper">
  <!-- GRID START -->
  <div class="grid-wraper">
    <!-- ADD NEW MEAL BUTTON START -->
    <div class="add-new-meal-div">
      <button (click)="goToNewMealPage()" class="button">Add new meal</button>
    </div>
    <!-- ADD NEW MEAL BUTTON END -->
    <!-- SEARCH START -->
    <form class="search-form-div" [formGroup]="searchForm">
      <input
        placeholder="Search food here"
        type="text"
        formControlName="search"
        (keyup)="searchValueChange($event)"
      />
    </form>
    <!-- SEARCH END -->
    <div class="grid-choices">
      <ul
        *ngFor="
          let categoryMeal of categoryMeals
            | slice
              : (defaultPage - 1) * itemsPerPage
              : defaultPage * itemsPerPage
        "
      >
        <li (click)="getMealDetails(categoryMeal.idMeal)">
          <div class="meal-list-name">
            <span> {{ categoryMeal.strMeal }}</span>
          </div>
        </li>
      </ul>
      <!-- PAGINATION START -->
      <div *ngIf="!isSearching" class="pag-div">
        <ngb-pagination
          [collectionSize]="numberOfMeals"
          [(page)]="defaultPage"
          [directionLinks]="false"
        ></ngb-pagination>
      </div>
      <!-- PAGINATION END -->
    </div>
  </div>
  <!-- GRID END -->

  <!-- MEAL DETAILS START -->
  <!-- RANDOM MEALSTART -->
  <div *ngIf="!mealSelected" class="random-meal-div">
    <div class="meal-name">
      <span>{{ randomMealName }} - {{ randomMealCategory }}</span>
    </div>
    <div class="meal-image">
      <img src="{{ randomMealThumb }}" alt="" />
    </div>
    <div class="meal-ingredients">
      <ul>
        <li>{{ ingredient1 }}</li>
        <li>{{ ingredient2 }}</li>
        <li>{{ ingredient3 }}</li>
        <li>{{ ingredient4 }}</li>
        <li>{{ ingredient5 }}</li>
        <li>{{ ingredient6 }}</li>
        <li>{{ ingredient7 }}</li>
        <li>{{ ingredient8 }}</li>
        <li>{{ ingredient9 }}</li>
      </ul>
    </div>
  </div>
  <!-- RANDOM MEAL END -->
  <!-- SELECTED MEAL START -->
  <div *ngIf="mealSelected" class="random-meal-div">
    <div class="meal-name">
      <span>{{ selectedMealDetail.strMeal || newMealInfo.strMeal }}</span>
    </div>
    <div class="meal-image">
      <img src="{{ selectedMealDetail.strMealThumb }}" alt="" />
    </div>
    <div class="meal-ingredients">
      <ul>
        <li>{{ selectedMealDetail.strIngredient1 }}</li>
        <li>{{ selectedMealDetail.strIngredient2 }}</li>
        <li>{{ selectedMealDetail.strIngredient3 }}</li>
        <li>{{ selectedMealDetail.strIngredient4 }}</li>
        <li>{{ selectedMealDetail.strIngredient5 }}</li>
        <li>{{ selectedMealDetail.strIngredient6 }}</li>
        <li>{{ selectedMealDetail.strIngredient7 }}</li>
        <li>{{ selectedMealDetail.strIngredient8 }}</li>
        <li>{{ selectedMealDetail.strIngredient9 }}</li>
      </ul>
    </div>
    <!-- EDIT MEAL START -->
    <div class="edit-meal-div">
      <div class="edit-button-div">
        <button
          *ngIf="!editButtonClicked"
          class="button"
          (click)="editMeal(selectedMealDetail)"
        >
          edit
        </button>
      </div>
      <div *ngIf="isEditing" class="edit-form-div">
        <!-- EDIT MEAL FORM START -->
        <form [formGroup]="editMealForm">
          <h2 class="meal-name">Edit selected recipe</h2>
          <div class="label-and-input-div">
            <label for="name">meal name: </label>
            <input type="text" formControlName="strMeal" />
          </div>
          <div class="label-and-input-div">
            <label for="text">add yout ingredients: </label>
            <input type="text" formControlName="strIngredient1" />
            <input type="text" formControlName="strIngredient2" />
            <input type="text" formControlName="strIngredient3" />
            <input type="text" formControlName="strIngredient4" />
            <input type="text" formControlName="strIngredient5" />
            <input type="text" formControlName="strIngredient6" />
            <input type="text" formControlName="strIngredient7" />
            <input type="text" formControlName="strIngredient8" />
            <input type="text" formControlName="strIngredient9" />
          </div>
          <div class="label-and-input-div">
            <button class="button" type="button" (click)="saveMealChanges()">
              Save
            </button>
            <button class="button" type="reset" (click)="cancelMealChanges()">
              Cancel
            </button>
          </div>
        </form>
        <!-- EDIT MEAL FORM END -->
      </div>
    </div>
    <!-- EDIT MEAL END -->
  </div>
  <!-- SELECTED MEAL END -->
</div>
