<div class="main-wraper">
  <!-- GRID START -->

  <div class="grid-wraper">
    <!-- ADD NEW MEAL BUTTON START -->
    <div class="add-new-meal-div">
      <button (click)="goToNewMealPage()" class="button">Add new meal</button>
    </div>
    <!-- ADD NEW MEAL BUTTON END -->
    <!-- SEARCH START -->
    <form class="search-form-div" [formGroup]="searchForm">
      <input
        placeholder="Search food here"
        type="text"
        formControlName="search"
        (keyup)="searchValueChange($event)"
      />
    </form>
    <!-- SEARCH END -->
    <div class="grid-choices">
      <ul
        *ngFor="
          let categoryMeal of categoryMeals
            | slice
              : (defaultPage - 1) * itemsPerPage
              : defaultPage * itemsPerPage
        "
      >
        <li (click)="getMealDetails(categoryMeal.idMeal)">
          <ng-container *ngIf="categoryMeal">
            <div class="meal-list-name">
              <span> {{ categoryMeal.strMeal }}</span>
            </div>
          </ng-container>
        </li>
      </ul>
      <!-- PAGINATION START -->
      <div *ngIf="!isSearching" class="pag-div">
        <ngb-pagination
          [collectionSize]="numberOfMeals"
          [(page)]="defaultPage"
          [directionLinks]="false"
        ></ngb-pagination>
      </div>
      <!-- PAGINATION END -->
    </div>
  </div>

  <!-- GRID END -->

  <!-- MEAL DETAILS START -->
  <!-- RANDOM MEALSTART -->
  <div *ngIf="!mealSelected" class="random-meal-div">
    <ng-container *ngIf="randomMeal">
      <div class="meal-name">
        <span>{{ randomMeal.strMeal }} - {{ randomMeal.strCategory }}</span>
      </div>
      <div class="meal-image">
        <img src="{{ randomMeal.strMealThumb }}" alt="" />
      </div>
    </ng-container>
    <div class="meal-ingredients">
      <ul>
        <li *ngFor="let randomSastojci of randomMealIngredients">
          {{ randomSastojci }}
        </li>
      </ul>
    </div>
  </div>
  <!-- RANDOM MEAL END -->
  <!-- SELECTED MEAL START -->
  <div *ngIf="mealSelected" class="random-meal-div">
    <ng-container *ngIf="selectedMealDetail">
      <div class="meal-name">
        <span>{{ selectedMealDetail.strMeal }}</span>
      </div>
      <div class="meal-image">
        <img src="{{ selectedMealDetail.strMealThumb }}" alt="" />
      </div>
    </ng-container>
    <div class="meal-ingredients">
      <ul>
        <li *ngFor="let sastojak of ingredients">
          {{ sastojak }}
        </li>
      </ul>
    </div>
    <!-- EDIT MEAL START -->
    <div class="edit-meal-div">
      <div class="edit-button-div">
        <button
          *ngIf="!editButtonClicked"
          class="button"
          (click)="editMeal(selectedMealDetail)"
        >
          edit
        </button>
      </div>
      <div *ngIf="isEditing" class="edit-form-div">
        <!-- EDIT MEAL FORM START  -->

        <form [formGroup]="dynamicForm">
          <label for="text">add yout ingredients: </label>
          <div
            class="ingredients-container"
            *ngFor="let test of dynamicForm.controls | keyvalue; let i = index"
          >
            <label for="{{ test.key }}"> {{ test.key }}</label>
            <input type="text" [formControlName]="test.key" value= />
            <button
              (click)="
                editSpecificIngredient(test.key, selectedMealDetail.idMeal, i)
              "
            >
              edit
            </button>
            <button>delete</button>
          </div>
          <div class="ingredients-container">
            <button class="button" type="button" (click)="saveMealChanges()">
              Save
            </button>
            <button class="button" type="reset" (click)="cancelMealChanges()">
              Cancel
            </button>
          </div>
        </form>
        <!-- EDIT MEAL FORM END -->
      </div>
    </div>
    <!-- EDIT MEAL END -->
  </div>
  <!-- SELECTED MEAL END -->
</div>
