<h2 class="add-meal__body-title">Add new recipe</h2>
<div class="form-wraper">
  <form [formGroup]="addNewMealForm" (ngSubmit)="onSubmit()">
    <div
      class="add-meal__input-container"
      *ngFor="let controlName of addNewMealForm.controls | keyvalue"
    >
      <label>{{ controlName.key }}: </label>

      <input
        type="text"
        [formControlName]="controlName.key"
        id="{{ controlName.key }}"
        [ngClass]="{ error: isInvalid(controlName.key) }"
      />
      <div *ngIf="isInvalid(controlName.key)">
        <p class="error-message">All fields must be filled!</p>
      </div>
    </div>

    <div class="add-meal__buttons-container">
      <hr />
      <button class="button" type="button" (click)="removeInputField()">
        Remove Ingredient field
      </button>
      <button class="button" type="button" (click)="addInputField()">
        Add Ingredient field
      </button>
      <button class="button" type="submit" [disabled]="!addNewMealForm.valid">
        <span *ngIf="addNewMealForm.valid">Sumbit</span>
        <span *ngIf="!addNewMealForm.valid">Enter mandatory data!</span>
      </button>
    </div>
  </form>
</div>
