<h2>testiranje push & pull/// main</h2>

<form [formGroup]="addNewMealForm" (ngSubmit)="onSubmit()">
  <h2 class="meal-name">Add new recipe</h2>
  <div class="label-and-input-div">
    <label for="name">meal name: </label>
    <input type="text" formControlName="strMeal" />
  </div>
  <div>
    <label for=""> Your image link</label>
    <input type="text" formControlName="strMealThumb" />
  </div>
  <div class="label-and-input-div">
    <label for="text">add yout ingredients: </label>
    <input type="text" formControlName="strIngredient1" />
    <input type="text" formControlName="strIngredient2" />
    <input type="text" formControlName="strIngredient3" />
    <input type="text" formControlName="strIngredient4" />
    <input type="text" formControlName="strIngredient5" />
    <input type="text" formControlName="strIngredient6" />
    <input type="text" formControlName="strIngredient7" />
    <input type="text" formControlName="strIngredient8" />
    <input type="text" formControlName="strIngredient9" />
  </div>
  <div class="label-and-input-div">
    <button class="button" type="submit">Save</button>
  </div>
</form>
