.sorting-div {
  background-color: var(--nav-color);
}

.sorting-title {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: var(--text-color);
}

.sorting-buttons-div {
  padding: 0 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.button-category {
  border-radius: 5px 0 0 5px;
}

.button-country {
  border-radius: 0 5px 5px 0;
}

.selection-div-wraper {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-bottom: 20px;
}

.selction-div-choices {
  background-color: var(--div-color);
  width: 400px;
  margin: 60px 0;
}

ul {
  padding: 0px;
}

li {
  padding: 20px;
  color: var(--text-color);
  width: 100%;
  display: flex;
  justify-content: center;
}
